.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    h2{
        padding-left: 20px;
        text-align: start;
        font-size: 48px;
        color: rgb(255, 255, 255);
        font-style: italic;
    }
    
}