.background-orange {
  background-image: url("../../../public/aaa.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mainBody {
  h2 {
    text-align: start;
    padding: 20px;
  }
}
