.orders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .order {
    margin: 50px;
    width: 550px;
    border-radius: 15px;
    background-color: white;
    .order-title {
      margin: 20px;
      text-align: start;
    }
  }
}
.product-order-wrapper {
  margin: 20px;
  .pow {
    text-align: start;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 20px;
    .pow-p {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px;
      p {
        margin: 0;
      }
    }
    .qty {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      position: relative;
      top: -32px;
      left: 68px;
      background-color: #efefef;
      border: 1px solid gray;
      width: 20px;
      height: 20px;
      border-radius: 24px;
      p {
        margin: 0;
        font-size: small;
      }
    }
    .product-order {
      border-top: 1px solid lightgray;
      padding: 5px;
      display: flex;
      img {
        height: 100px;
        width: 92px;
      }
      .product-order-info {
        a {
          color: #0088ff;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.thank-you-btn {
  background-color: #ff8400;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 15px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .orders-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .order {
      margin: 50px;
      width: 400px;
      border-radius: 15px;
      background-color: white;
      .order-title {
        margin: 20px;
        text-align: start;
      }
    }
  }
  .product-order-wrapper {
    margin: 20px;
    .pow {
      text-align: start;
      border: 1px solid lightgray;
      border-radius: 15px;
      margin-bottom: 20px;
      .pow-p {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        font-size: 13px;
        p {
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .orders-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .order {
      margin: 50px;
      width: 250px;
      border-radius: 15px;
      background-color: white;
      .order-title {
        margin: 20px;
        text-align: start;
      }
    }
  }
  .product-order-wrapper {
    margin: 20px;
    .pow {
      text-align: start;
      border: 1px solid lightgray;
      border-radius: 15px;
      margin-bottom: 20px;
      .pow-p {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px;
        font-size: 13px;
        p {
          margin: 0;
        }
      }
    }
  }
}
