.order-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout-wrp {
  text-align: start;
  padding-left: 20px;
  width: 60%;
  .checkout {
    max-width: 270px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    .order-product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .qty {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
        top: -32px;
        left: 68px;
        background-color: #efefef;
        border: 1px solid gray;
        width: 20px;
        height: 20px;
        border-radius: 24px;
      }
      p {
        margin: 0;
        font-size: large;
      }
    }
    .checkout * {
      margin-top: 5px;
    }
    .checkout-btn {
      button {
        margin-left: 30px;
        border: none;
        background: none;
      }
    }
  }
}
.paypal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  padding: 10px;
  margin-right: 10px;
  border-radius: 15px;
  max-height: 280px;
}

@media screen and (max-width: 550px) {
  .checkout-wrp {
    width: 100%;
    .checkout{

      .order-product{
        p{
          font-size: medium;
        }
      }
    }
  }
  .order-wrapper {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  .order-wrapper >{
    font-size: 10px;
  }
  .paypal-box {
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    align-items: center;
  }
  
}
