header{
    display: flex;
    justify-content: space-between;
}
.checkout-wrp{
    text-align: start;
    padding-left: 20px;
    width: 60%;
    .checkout{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        height: 280px;
        .order-product{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img{
                height: 120px;
            }
        }
    }
    .checkout *{
        margin-top: 5px;
    }
}